@import url('https://fonts.googleapis.com/css?family=Muli:400|Raleway:900');

html {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

body {
    top: 0;
    left: 0;
    /*background: #c1e1ec;*/
    background: #f3f9fb;
}

.bodywrapper {
    margin: auto;
    max-width: 90%;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background: #c1e1ec;*/
    height: calc(100% - 80px);
}

h4 {
display:block;
font-size:14px;
}

header {
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    margin: 0;
    /*background: #99cfe0;*/
    background: #90B6C2;
    box-sizing: border-box;
    /*box-shadow: 0 1px 1px #70adc2;*/
    box-shadow: 0 1px 1px #6f8e99;
    z-index: 9999;
}

.user {
    position: fixed;
    top: 8px;
    right: 10px;
}

footer {
    box-sizing: border-box;
    position: fixed;
    height: calc(100% - 40px);
    width: 60px;
    top: 40px;
    left: 0;
    margin: 0;
    /*background:#e6bbad;*/
    background: #b1dae7;
    box-shadow: 1px 0px 1px #99cfe0;
    z-index: 9998;
    display: none;
}

.mood-button {
    font-size: 36px;
    padding: 10px;
    margin:10px;
    color: #2f556b;
}

.mood-button:hover {
    cursor:pointer;
}

.mood-title {
    color: #2f556b;

}

.mood-spacer {
    width:10px;
    height:5px;
    /*background:blue;*/
    display:inline-block;
}

.moods:active {
    background-color:palegoldenrod;
}

.stopcounter-button {
    background: #e8997d;
    color:#fff;
border:0;
font-size:12px;
padding-top:5px;
padding-bottom:5px;
}

    .stopcounter-button:hover {
        cursor: pointer;
        background: #d08970;
    }

.flexbox {
    display: block;
    justify-content: space-between;
    margin: auto;
    max-width: 100%;
}

.counter, .earnings, .mg, .moodbox {
    width: 90%;
    min-width: 300px;
    font-size: 20px;
    text-align: center;
    border-radius: 1px;
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 18px;*/
    line-height: 130%;
    padding: 15px;
    box-sizing: border-box;
    background: #f3f9fb;
    display: block;
    /*color: #99cfe0;*/
    color:#6f8e99;
}




.article {
    width: 90%;
    min-width: 300px;
    border-radius: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 30px;
    box-sizing: border-box;
    background: #f3f9fb;
    display: block;
}

.startflexbox {width:100%;
               margin-left:auto;
               margin-right:auto;
               display:flex;
}

.startflex {
    width: calc(3/11);
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1px;
    box-sizing: border-box;
    /*background: #f3f9fb;
    background: #c1e1ec;*/
    padding: 20px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #e8997d;
    line-height:150%;
}

.mg {
    color: #e8997d;
    line-height: 150%;
}

.counter {
    color: #2f556b;
    font-size: 36px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
}

.lifelife {
    color: #2f556b;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

.moodbox {
    line-height:100%;
}

.substitutebox, .moodsharebox {
    position:fixed;
    left:-4px;
    top:100px;
}


.development-link {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.logobox {
    display: flex;
    position: absolute;
    left: 5px;
    margin-right: 10px;
    justify-content:flex-start;
}

.logoitem {
    width: 100px;
    position: relative;
    font-size: 20px;
    box-sizing: border-box;
    left: 5px;
    top: 10px;
    padding: 1px;
    font-weight: 700;
    color: #ebf6f9;
    font-family: 'Raleway',sans-serif;
}

.frontpage-logo {
    width: 100%;
    position: relative;
    font-size: 70px;
    box-sizing: border-box;
    padding: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    /*color: #ebf6f9;*/
    color: #fff;
    font-family: 'Raleway',sans-serif;
}

.frontpage-hashtags {
    /*color: #e8997d;*/
    color:#c1e1ec;
    font-size:18px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    letter-spacing: 2px;
}

.article > p > b {
    margin-left:-10px;
    margin-bottom:5px;
}

.article > p {
    font-size:16px;
}

.frontpage-logo-byline {
    /*color: #ebf6f9;*/
    color: #000;
    font-size: 20px;
}

hr {
    width:80%;
    margin:auto;
    margin-bottom:40px;
    margin-top:20px;
}

.logoitem a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 10;
}

.logoitem:hover {
    cursor: pointer;
}

.menubox {
    display: flex;
    position: absolute;
    right: 5px;
    margin-right: 10px;
    justify-content: flex-end;
}

.menuitem {
    color: #fff;
    padding: 3px;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    width: 65px;
    /*border-left: 1px solid #a9d8e7;*/
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
    line-height: 47%;
    padding-top: 6px;
    padding-bottom: 10px;
    position: relative;
}


    .menuitem a {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
        left: 0;
        color: #333;
        text-decoration: none;
        z-index: 10;
    }

    .menuitem:hover {
        cursor: pointer;
        background: #a5d4e3;
        color: #fff7cc;
    }

    .menuitem > y {
        font-size: 10px;
        font-weight: 300;
        color: #fff;
    }

    .menuitem:last-of-type {
        /*border-right: 1px solid #a9d8e7;*/
    }


a {
    color:#b07561 !important;
   text-decoration:none;
}

a:hover {text-decoration:underline;}

.user--counter-row {
    /*margin-bottom: 10px;*/
    display: table-row;
    font-size: 12px;
    justify-content:space-between;
    border-bottom:1px solid;
}

.user-counter-row:first-of-type {
    background:yellow;
}

.user--counter-cell {
    padding: 3px;
    display:table-cell;

}

.user--username {
    font-size: 24px;
    color: #99cfe0;
    font-family: 'Raleway',sans-serif;
    font-weight:700;
}

.user--sharelink {
    border:1px dotted;
    background: #ddd;
    padding:2px;
    font-size:12px;
    max-width:500px;
}

.user--sharelink-placeholder {
    display:flex;
    flex-wrap:wrap;
    margin-bottom:20px;
    margin-top:20px;
    max-width:90%;
}

.user--sharelink-description {
    font-size:12px;
    padding:2px;
    margin-right:10px;
}

.header {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    letter-spacing:1px;
}


.fb-button-placeholder {
    float:right;
}

.fb-like-placeholder {

    position:fixed;
    bottom:10px;
    left:10px;
}


#Facebook {
    background: url(../Content/img/icons/signin-facebook.png);
    background-size: cover;
    width: 214px;
    height: 40px;
    border: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

.short-input {
    border-radius: 0.25rem;
    background-color: #fff;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    border: 1px solid rgba(0,0,0,0.15);
    color: #464a4c; 
    width:30px;
    text-align:center;
}



/* GAMLA KODEN | GAMLA KODEN | GAMLA KODEN | GAMLA KODEN | GAMLA KODEN | GAMLA KODEN | GAMLA KODEN | GAMLA KODEN | GAMLA KODEN |*/
.placeholder {
    display: block;
    width: 100%;
}

.navbar {
    background:#309c9c;
    height:30px;
}

.normalplaceholder {
    padding: 15px;
    box-sizing: border-box;
    color: #000;
    text-align: center;
    background: linear-gradient(45deg, white, #edffed);
    border-radius: 8px;
    margin: 40px 0 10px 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 130%;
}


/*KOPIERADE FRÅN CODEFORCAUSES | KOPIERADE FRÅN CODEFORCAUSES | KOPIERADE FRÅN CODEFORCAUSES | KOPIERADE FRÅN CODEFORCAUSES | KOPIERADE FRÅN CODEFORCAUSES |*/

.user--bodywrapper {
    margin: auto;
    max-width: 90%;
    width: 70%;
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.user--title {
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 44px;
    color: #ebf6f9;
    background: #add7e6;
    display: flex;
    justify-content: space-between;
    height: 125px;
    border-radius: 3px;
}

    .user--title > y {
        box-sizing: border-box;
    }

.user--profile-picture {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    padding: 10px;
    box-sizing: border-box;
}

.user--title-byline {
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.user--description {
    background: #fff;
    box-sizing: border-box;
    padding: 25px;
    padding-top: 35px;
    font-size: 14px;
    border-radius: 3px;
}

.user--box {
    border-radius: 3px;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    background: #eee;
}

.user--skillsbox {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.user--skill {
    background: #aaa;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
    padding-right: 14px;
    font-size: 12px;
    margin: 10px;
}

    .user--skill:after {
        content: 'x';
        color: #fff;
    }


.actionbutton {
    padding: 3px;
    border: 2px solid #c35f3c;
    border-radius: 3px;
    text-align: center;
    max-width: 40%;
    color: #c35f3c;
    font-weight: 700;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    background: #fff;
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

    .actionbutton:hover {
        color: #3cc33c;
        border: 2px solid #3cc33c;
        cursor: pointer;
    }






@media only screen and (max-device-width: 800px) and (orientation: portrait) {

    .bodywrapper {
        width: 100%;
        max-width: 100%;
        margin-top: 37px;
    }

    .mg, .counter, .earnings, .moodbox {
padding:11px;
margin-bottom:11px;
    }

    .title {
        font-size: 41px;
    }

    .title-byline {
        width: 90%;
    }

  .mood-spacer {display: none;}

    .fb-button-placeholder {
        position: fixed;
        top: 50px;
        right: -5px;
    }

    .startflexbox {flex-wrap:wrap;}



}

/*iphone 5 portrait*/
@media only screen and (max-device-width: 340px) and (orientation:portrait) {
    /*.logobox {
        display: none;
    }*/

    .title {
        font-size: 35px;
    }

    .mg, .counter, .earnings, .moodbox {
        width:98%;
    }

    .mdl-button--fab {
        width:45px !important;
        height:45px !important;
        min-width:45px !important;
    }

    .mood-spacer {
width:2px;
display:inline-block;
    }

    .menubox {
        margin-left: -15px;
    }
}
/*end iphone 5 portrait*/

