

@{
    ViewBag.Title = "About";
}



<div class="placeholder">

    
    <div class="flexbox">
        <div class="article">
            Quitr is being developed as a hobby-project, with the sole aim of helping nicotine-addits game themselves when they decide to quit. 
            On Quitr they are able to easily create a counter which displays how long they've been free of the addicition, how much money they have saved and how much posion they have void since they quit.<br />
            <br />
            If you wish to follow the development you may check the current sprint here: <a href="https://tree.taiga.io/project/elden1337-quitr/taskboard/test-906" target="_blank">Abu Dhabi</a>
            Hope you like the idea, and that it helps you quit your addiction, it helped me ;).<br />

        <br />
            Best regards, Magnus
        </div>

    </div>

</div>
