@model Quitr2.Models.Home.HomeModel

@{
    ViewBag.Title = "Quitr";
}

@*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8788494757785541",
    enable_page_level_ads: true
  });
</script>*@

<div class="placeholder">

    

    
    <div class="flexbox">
        <center>
            <div class="frontpage-logo">
                <t style="color:#e8997d; font-size:105px; z-index:-1; margin-right:-8px; padding-top:2px;">Q</t>uitr.net
            </div>
  <br />
            <div class="frontpage-logo-byline">Currently helping @Model.totalCounters persons quit their habits!</div>
        
        </center>
        <br />

        <hr />

        <div class="article">
            <p>
                <b>2017-05-06</b><br />
                Like-button added to the shared pages to gather feedback from people who view your quitr.<br />
                Minor bug-fixes with setup.
            </p>
            <p>
                <b>2017-05-04</b><br />
                The nicotine-substitute setting has been released. It can currently be used to store your substitute-intake each day. We'll use the stored data to produce graphs for you in the coming weeks.<br />
            </p>
         
        </div>



        <div class="frontpage-hashtags">#quitr #beaquitr</div>


        @*@Html.RenderPartial(MVC.Account.Views.Login)
        @Html.RenderPartial()*@


        

    </div>



</div>
